.card_container {
  display: flex;
  outline: 1px solid;
  width: 30rem;
  gap: 0.5rem;
  position: relative;
}
.edit_icon {
  position: absolute;
  top: 5px;
  right: 10px;
}
.product_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
