.card_container {
  display: flex;
  outline: 1px solid var(--border-color);
  width: 30rem;
  position: relative;
  gap: 0.5rem;
  margin: 10px 10px 0 10px;
  border-radius: 5px;
}

.image_container {
  width: 350px;
  height: 200px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon_container {
  display: flex;
  gap: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.product_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
