.card_container {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 15rem;
  background-color: #dec19b;
  border-radius: 0.5rem;
}

.image_container {
  width: 100%;
  height: 300px;
}
.product_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.product_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  align-items: center;
}
.cart_button {
  width: 100%;
  padding: 0.3rem 0.6rem;
  border: none;
  background-color: var(--primary-color);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
