.cart_page {
  grid-area: content-area;
}

.section_title {
  text-align: center;
  padding: 1rem;
}

.main_content {
  display: flex;

  gap: 0.5rem;
}

.left_section {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.right_section {
  margin-right: 0.5rem;
  border: 1px solid var(--border-color);
  width: 30%;
  padding: 0.5rem;
  height: fit-content;
  border-radius: 5px;
}

.bill_container h2 {
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  margin-bottom: 1rem;
}

.items_container {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
}

.total_amount {
  display: flex;
  justify-content: space-between;
}

.total_amount .total_amount_header {
  border-top: 1px solid var(--border-color);
  width: 100%;
}

.total_amount span {
  border-top: 1px solid var(--border-color);
  margin-top: 1rem;
  padding-top: 5px;
}

.pay_button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.6rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--border-color);
  cursor: pointer;
}
