.cart_page {
  grid-area: content-area;
}
.section_title {
  text-align: center;
}
.main_content {
  display: flex;

  gap: 0.5rem;
}
.left_section {
  /* outline: 1px solid; */
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
  gap: 1rem;
}
.right_section {
  margin-right: 0.5rem;
  outline: 1px solid;
  width: 30%;
  padding: 0.5rem;
  height: fit-content;
}
.items_container {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
}
.total_amount {
  display: flex;
  justify-content: space-between;
}
.pay_button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
}
