.navbar {
  height: 3rem;
  padding: 0.8rem 0.8rem 0.8rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: #c4dfaa;
  gap: 0.5rem;
  grid-area: head;
  position: sticky;
  top: 0;
}
.brand_name {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.hamburger_menu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
