.navbar {
  height: 3.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  gap: 0.5rem;
  grid-area: head;
  top: 0;
}

.brand_name {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  font-weight: 900;
  margin-left: 0.8rem;
  letter-spacing: 3px;
}

.hamburger_menu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
