:root {
  --primary-color: #73a9ad;
  --secondary-color: #90c8ac;
}
body {
  background-color: #f8f0e3;
  font-family: "Roboto Slab", serif;
}
a {
  text-decoration: none;
  color: black;
}
svg {
  cursor: pointer;
}
.page_container {
  display: grid;
  grid-template-areas:
    "head head"
    "content-area content-area";
}
