:root {
  --primary-color: #c0f0fd;
  --secondary-color: #f0f0f0;
  --border-color: rgb(195, 195, 195);
}
body {
  background-color: var(--secondary-color);
  font-family: "Roboto Slab", serif;
}
a {
  text-decoration: none;
  color: black;
}
svg {
  cursor: pointer;
}
.page_container {
  display: grid;
  grid-template-areas:
    "head head"
    "content-area content-area";
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
  border-radius: 5px;
}
