.homepage_container {
  grid-area: content-area;
  min-height: calc(100vh - 3.5rem);
}

.section_title {
  text-align: center;
  margin: 0.5rem 0;
}

.product_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
